/*General style */
*{
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
}

body{
    background-color: black;
    color:white;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}
:root{
    --maincolor:#FA9021;
    --secondcolor:white;
    --colorone:#B000DC;
    --colortwo:#DC4200;
    --colorthree:#00DC8D;
    --colorfour:#1C140F;
    --colorfive:#E5E5E5;
    --colorsix :#2FAB73;
    --colorsecen:#0F0901;
}
.containeer{
    width:90%;
    margin:auto;
}
.bars{
    display: none;
}
.fasl{
    width:100%;
    height:1px;
    background-color: white;
    margin-top:30px;
}
/*General style*/


/*Style Section Nav*/
.nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.nav .links ul{
    list-style-type:none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav .links ul li{
    padding:10px;
}
.nav .links ul li a{
    color:white;
    text-decoration: none;
}
.nav .links ul li button{
    padding:5px 8px;
    background-color: var(--maincolor);
    color:var(--secondcolor);
    border-radius: 6px;
}
/*End Style nav*/

/*Start section services*/
.service{
    margin:80px auto;
    text-align: center;
}
.service .header p span{
    color:var(--maincolor);
}
.service .props{
    background-color: var(--colorfour);
    padding:40px 30px;
    border-radius: 10px;
    width:1140px;
    margin:50px auto;
}
.service .props .client{
    width:23%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.service .props .client .person{
    width:40px;
    height:40px;
    border-radius: 50%;
    background-color: white;
    color:var(--maincolor);
    margin-right: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.service .props .client .line p{
    margin-bottom:-2px;
}
/*End of section services*/

/*Start section video*/
.vid .video{
    background-repeat: no-repeat;
    background-size: contain;
}
.vid .header-image{
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}
.vid .play{
    width:50px;
    height:50px;
    border-radius: 50%;
    border:4px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.vid .play i{
    font-size:25px;
}
.vid .infovid{
left: 10%;
}
.vid .infovid ul{
    list-style-type: none;
}
.vid .infovid ul li{
    margin:10px;
}

.vid .infovid ul li i{
    width:25px;
    height:25px;
    border-radius: 50%;
    background-color:var(--colorsix);
    text-align: center;
    padding:5px 0;
    margin-right:8px;
    color: #000000;
    font-weight:800;
}
.vidsec{
    margin-top:80px;
    position: relative;
}

.vidsec .header-image{
    background-image: url(images/Rectangle\ 6.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 34px;
    border: 3px solid transparent;
}
.videosec h1 , .videosec p{
    margin-bottom:35px;
}
.videosec button{
    background-color: var(--maincolor);
    outline:none;
    border: none;
    padding:10px 20px;
    color:white;
}
/*Start section video*/

/*Style section causrsol*/
.caursol{
    background-color:var(--colorfour);
    margin:150px auto;
    padding:80px;
}

.caursol .contentcaursol{
    margin: auto;
    width:60%;
    text-align: center;
}
.caursol .opinone .contentone img{
    display: inline-block;
    width:60px;
    height:60px;
    border-radius: 50%;
}
.caursol .opinone{
    border-radius: 10px;
    padding:15px;
    border:1px solid var(--maincolor);
    background-color: var(--colorsecen);
    margin: 10px;
}
.caursol .opinone .contentone p{
    display: inline-block;
    margin-left:5px;
}
.caursol .opinone .columnone{
    display:flex;
    justify-content:space-between;
    align-items: center;
}
.caursol .opinone .columnone .rate{
    color: var(--maincolor);
}

.opinone .info p{
    margin-top: 8px;
    margin-left:15px;
}
/*end of dstyle section caursol*/
/*loop style */

.loop{
    background: linear-gradient(rgb(0, 0, 0), #110600);
    padding: 50px 0;
    margin-top:50px;
}
.loop .texloop{
    margin-top:80px;
    background-color: #1B1B1B;
    padding:20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.loop .col-4 p:first-child{
    font-size: 25px;
    font-weight:bolder;
}
.loop .col-8{
    text-align: center;
    padding:10px;
    margin-top:50px;
}
.loop .col-8 input{
    position: relative;
    border: none;
    outline:none;
    width:70%;
    padding:14px 22px;
    border-radius: 10px;
}
.loop .col-8 button{
    position:absolute;
    border:none;
    outline:none;
    padding:8px 12px;
    border-radius: 20px;
    color:var(--secondcolor);
    background-color: var(--maincolor);
    right:20%;
    top:15px;
}
/*loop style*/

/*Section footer*/
.footer{
    color:white;
}

.footer span{
    color:white;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    margin-left:10px;
}

.footer ul{
    list-style: none;
    margin-left:-25px;
}
.footer ul li{
    margin:10px;
}
.footer ul li a{
    text-decoration: none;
    color:white;
    margin-left:10px;
}
.footer .quick ul li a{
    font-size:20px;
    margin-left:50px ;
}
.footer .quick ul li a{
    transition: 0.3s all ease;
}
.footer .quick ul li a:hover{
    margin-left:25px;
}
/*End of style footer*/
.footer .social{
    display:flex;
    justify-content: center;
    align-items: center;
}
.footer .social div{
    width:50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    color:black;
    margin:5px;
    transition:0.3s all ease-in-out
}
.footer .social i{
    font-size:25px;
    width:40px;
    height:40px;
    padding:10px;
    border-radius: 50%;
    margin:5px;
    cursor: pointer;
    display: flex;
    justify-content:center;
    align-items: center;
}
.footer .social div:hover{
    background-color:#FA9021;
    color:white;
}
.lastP{
    padding-top:10px;
}

@media (max-width:992px) {
    .nav .bars{
        display: block;
        font-size: 25px;
        cursor:pointer;
    }
    .nav .links ul{
        position:fixed;
        top:72px;
        right:0;
        flex-direction: column;
        width:220px;
        min-height:220px;
        padding: 20px;
        transform: translateX(100%);
        transition: 0.5s transform ease-in-out;
        z-index:10;
        box-shadow:0px 5px 15px rgba(0, 0, 0, 0.35);
    }
    .nav .links ul.active2{
        transform: translateX(0);
        background-color:var(--colorfour);
        z-index: 1;
    }
    .nav .links ul li{
        margin:0 20px;
        padding:10px;
        text-align:center;
        color:black;
    }
    .service .props{
        flex-direction: column;
        width: 90%;
        text-align: center;
    }
    .service .props .client{
        margin:15px;
        width:250px;
    }
    .loop .texloop .col-8 input{
        width:160%;
    }
    .loop .texloop .col-8 button{
        right: -40%;
        padding:5px;
    }
    .caursol .contentcaursol{
        display: inline;
        width:100%;
    }
    .infovid{
        right:50%;
    }
    .videosec p{
        width:80%;
        
    }
    .vid .header-image{
        width:100%;
        padding:120px 0;
    }
    .vid .header-image img{
        width:100%;
        background-size: cover;
        height: auto;
    }
    .caursol{
        width:100%;
    }
    .caursol .opinone{
        width:150px;
        margin: 10px;
    }
    .caursol .opinone p{
        font-size: 8px;
    }
    .footer{
        text-align: center;
        color:white;
        height:680px;
        overflow: hidden;
    }
    .footer .links{
        margin-top:5px;
    }
    body{
        overflow-x: hidden;
    }
}