/*General style */
*{
    margin:0;
    padding:0;
}
h1 , h2 , h3{
    font-family: 'Poppins', sans-serif;
    line-height: 70px;
}
button{
    outline:none;
    border:none;
}
.line{
    line-height: 30px;
}
.fasl{
    width:100%;
    height:1px;
    background-color: white;
    margin-top:30px;
}
a{
    text-decoration: none;
    color: white;
}
body{
    background-color: black;
    color:white;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}
.bars{
    display: none;
}
.active2{
    background-color: var(--maincolor);
    border-radius: 10px;
    padding:10px;
}
.lastP{
    padding-top:30px;
}
.containeer{
    width:90%;
    margin:auto;
}
:root{
    --maincolor:#FA9021;
    --secondcolor:white;
}

/*Style Section Nav*/
.nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.nav .links ul{
    list-style-type:none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav .links ul li{
    padding:10px;
}
.nav .links ul li a{
    color:white;
    text-decoration: none;
}
.nav .links ul li:last-child a{
    padding:5px 8px;
    background-color: var(--maincolor);
    color:var(--secondcolor);
    border-radius: 6px;
    transition: 0.3s all ease;
}
.nav .links ul li:last-child a:hover{
    background-color:transparent;
    border: 1px solid var(--maincolor);
}
/*End Style nav*/

/*Start Style section content*/
.content{   
    display: flex;
    justify-content: center;
    align-items: center;
}
.content .infoGame{
    align-self: center;
    width:60%;
}
.content .infoGame p:first-child{
    color:var(--maincolor);
}
.content .infoGame p{
    line-height: 35px;
}


.content .infoGame button{
    width:180px;
    padding:10px;
    border-radius: 25px;
    background-color: var(--maincolor);
    outline:none;
    border:none;
    color:var(--secondcolor);
}
.content .infoGame button:hover{
    background-color: transparent;
    border: 1px solid var(--maincolor);
}

/*هذه الخطوة مهمه لة عايز تخلي الصورة مهما تغيرت الحجم يفضل ثابت*/
.content .fath .edit{
    margin:30px auto;
    text-align: center;
    background-image:url('../images/joy_stick\ 1.png');
    width: 22rem;
    height: 30rem;
    background-repeat: no-repeat;
    background-size: cover;
}
.content .fath{
    position: relative;
}
.content .fath .edit img{
    position: absolute;
    width:70px;
}
.content .fath .edit img:first-child{
    top:50%;
    left:5%;
}
.content .fath .edit img:nth-child(2){
    left:70%;
}
.content .fath .edit img:nth-child(3) , .content .fath .edit img:nth-child(2){
    top:20%;
}
.content .fath div img{
    width:100%;
    text-align: center;
    position: relative;
    top:-50px;
    left:35px;
}
/*End Style section content*/

/*Start Style Section trend games */
.trendgames{
    margin-top:100px;
}
.trendgames .gamesinfo ,.trendgames .allGames  {
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.trendgames .gamesinfo button{
    color:var(--secondcolor);
    padding:10px 20px;
    background: rgba(255, 255, 255, 0.11);
    border-radius: 10px;
}
.trendgames .allGames .card {
    width:150px;
    background-color: transparent;
    color:var(--secondcolor);
}
.trendgames .allGames .card p{
    font-size: 25px;
    text-align: center;
}
/*End Trendig games*/

/*Start Style Div information info */
.info{
    width:45%;
    text-align: center;
    margin-top:120px;
}
/*End style div information info */

/*Start style section spider games */

.spidergame{
    margin-top:50px;
    background-image: linear-gradient(#000000, #4A2800);
    padding:180px 0;
}
.spidergame .image{
    text-align: center;
    margin:50px auto;
    padding:20px;
    position: relative;
}
.spidergame .image .img img{
    width:80%;
    z-index: 5;
    position: relative;
}
.spidergame .image .img::after{
    content: url(../images/Group\ 21.png);
    position: absolute;
    top: -10%;
    right:5%;
}
/* .spidergame .image .groub{
    position: absolute;
    top:1%;
    right:0;
} */

.spidergame .cont , .loop .cont{
    width:40%;
}
.spidergame .info h1{
    font-size: 25px;
}

/*End div Spider games*/

/*Start Style Games*/
.gameDev{
    text-align: center;
    padding:30px;
    background-image: url(../images/Rectangle\ 5.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.gameDev .infoGame{
    text-align: center;
    width:90%;
}
.gameDev .infoGame p{
    margin-top:40px;
}
.gameDev .DevContent{
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.gameDev .typedev{
    color:white;
    padding:10px;
    margin: 10px;
    text-align: center;
    line-height:300%;
}
.gameDev .typedev i{
    color:var(--maincolor);
    font-size:30px;
}
.gameDev .typedev .circle{
    margin: auto;
    width:70px;
    height:70px;
    border-radius: 50%;
    background-color: antiquewhite;
    color:var(--maincolor);
    display: flex;
    justify-content: center;
    align-items: center;
}

.pics{
    margin-top:50px;
    text-align: center;
}
.pics .magal{
    width:70%; 
    padding:20px;
}
.pics .magal img{
    width:90%;
}
.pics .containerr{
    width:95%;
    margin: 80px auto;
}

.pics button{
    background: rgba(255, 255, 255, 0.11);
    border-radius: 10px;
    width:113px;
    padding:10px;
    margin-top:50px;
}
/*End Style games*/
/*loop style */

.loop{
    background: linear-gradient(rgb(0, 0, 0), #110600);
    padding: 50px 0;
    margin-top:50px;
}
.loop .texloop{
    margin-top:80px;
}
.loop .texloop{
    background-color: #1C140F;
    padding:20px 30px;
    border-radius: 10px;
}
.loop .col-4 p:first-child{
    font-size: 25px;
    font-weight:bolder;
}
.loop .col-8{
    text-align: center;
    padding:10px;
    margin-top:50px;
}
.loop .col-8 input{
    position: relative;
    border: none;
    outline:none;
    width:70%;
    padding:14px 22px;
    border-radius: 10px;
}
.loop .col-8 button{
    position:absolute;
    border:none;
    outline:none;
    padding:8px 12px;
    border-radius: 10px;
    color:var(--secondcolor);
    background-color: var(--maincolor);
    right:20%;
    top:15px;
}
/*loop style*/

/*Section footer*/
.footer{
    color:white;
    height:450px;
    overflow: hidden;
}

.footer span{
    color:white;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    margin-left:10px;
}

.footer ul{
    list-style: none;
    margin-left:-25px;
}
.footer ul li{
    margin:10px;
}
.footer ul li a{
    text-decoration: none;
    color:white;
    margin-left:10px;
}
.footer .quick ul li a{
    font-size:20px;
    margin-left:50px ;
}
.footer .quick ul li a{
    transition: 0.3s all ease;
}
.footer .quick ul li a:hover{
    margin-left:25px;
}
/*End of style footer*/
.footer .social{
    display:flex;
    justify-content: center;
    align-items: center;
}
.footer .social div{
    width:50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    color:black;
    margin:5px;
    transition:0.3s all ease-in-out
}
.footer .social i{
    font-size:25px;
    width:40px;
    height:40px;
    padding:10px;
    border-radius: 50%;
    margin:5px;
    cursor: pointer;
    display: flex;
    justify-content:center;
    align-items: center;
}
.footer .social div:hover{
    background-color:#FA9021;
    color:white;
}

/*style popup*/
/*End popup*/
@media (max-width:992px) {
    .edit{
        width:100%;
    }
    .nav .bars{
        display: block;
        font-size: 25px;
        cursor:pointer;
    }
    .nav .links ul{
        position:fixed;
        top:72px;
        right:0;
        flex-direction: column;
        width:220px;
        min-height:220px;
        padding: 20px;
        transform: translateX(100%);
        transition: 0.5s transform ease-in-out;
        z-index:10;
        box-shadow:0px 5px 15px rgba(0, 0, 0, 0.35);
    }
    .nav .links ul.active2{
        transform: translateX(0);
        background-color: rgba(255, 255, 255, 0.11);
        z-index: 1;
    }
    .nav .links ul li{
        margin:0 20px;
        padding:10px;
        text-align:center;
        color:black;
    }
    .trendgames .gamesinfo ,.trendgames .allGames{
        flex-direction: column;
    }
    .spidergame .cont , .loop .cont{
        width:100%;
        flex-direction: column;
    }
    .spidergame .image img{
        width:90%; 
    }
    .DevContent{
        flex-direction: column;
    }
    .loop .texloop .col-8 input{
        width:150%;
    }
    .loop .texloop .col-8 button{
        right: -40%;
        padding:5px;
    }
    .info{
        width:80%;   
    }
    body{
        overflow-x:hidden;
    }
    .pics .magal img{
        margin: 10px;
    }
    .content .fath .edit img:first-child{
        top:42%;
        left:1%;
    }
    .content .infoGame{
        text-align: center;
        margin: auto;
    }
    .footer{
        text-align: center;
        color:white;
        height:730px;
        overflow: hidden;
    }
    .footer .links{
        margin-top:5px;
    }
}