/*General style */
*{
    margin:0;
    padding:0;
}
h1 , h2 , h3{
    font-family: 'Poppins', sans-serif;
    line-height: 70px;
}
button{
    outline:none;
    border:none;
}
.loop .col-8 button {
    background-color: var(--maincolor);
    padding:10px 20px;
    border-radius: 10px;
    color:white;
    position: absolute;
    right:20%;
    top:17%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
/* .gg{
    position: relative;
}*/
.aa{
    margin:auto;
} 
.gg{
    margin-left:55%;
}
.line{
    line-height: 30px;
}
.fasl{
    width:100%;
    height:1px;
    background-color: white;
    margin-top:30px;
}
a{
    text-decoration: none;
    color: white;
}
body{
    background-color: black;
    color:white;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}
.bars{
    display: none;
}
/* .active2{
    background-color: var(--maincolor);
    border-radius: 10px;
    padding:10px;
} */
.lastP{
    padding-top:30px;
}
.containeer{
    width:90%;
    margin:auto;
}
:root{
    --maincolor:#FA9021;
    --secondcolor:white;
}

/*Style Section Nav*/
.nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.nav .links ul{
    list-style-type:none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav .links ul li{
    padding:10px;
}
.nav .links ul li a{
    color:white;
    text-decoration: none;
}
.nav .links ul li:last-child a{
    padding:5px 8px;
    background-color: var(--maincolor);
    color:var(--secondcolor);
    border-radius: 6px;
    transition: 0.3s all ease;
}
.nav .links ul li:last-child a:hover{
    background-color:transparent;
    border: 1px solid var(--maincolor);
}
/*End Style nav*/

/*Start Style section content*/
.content{   
    display: flex;
    justify-content: center;
    align-items: center;
}
.content .infoGame{
    align-self: center;
    width:60%;
}
.content .infoGame p:first-child{
    color:var(--maincolor);
}
.content .infoGame p{
    line-height: 35px;
}


.content .infoGame button{
    width:180px;
    padding:10px;
    border-radius: 25px;
    background-color: var(--maincolor);
    outline:none;
    border:none;
    color:var(--secondcolor);
}
.content .infoGame button:hover{
    background-color: transparent;
    border: 1px solid var(--maincolor);
}

/*هذه الخطوة مهمه لة عايز تخلي الصورة مهما تغيرت الحجم يفضل ثابت*/
.content .fath .edit{
    margin:30px auto;
    text-align: center;
    background-image:url('../images/joy_stick\ 1.png');
    width: 22rem;
    height: 30rem;
    background-repeat: no-repeat;
    background-size: cover;
}
.content .fath{
    position: relative;
}
.content .fath .edit img{
    position: absolute;
    width:70px;
}
.content .fath .edit img:first-child{
    top:50%;
    left:5%;
}
.content .fath .edit img:nth-child(2){
    left:70%;
}
.content .fath .edit img:nth-child(3) , .content .fath .edit img:nth-child(2){
    top:20%;
}
.content .fath div img{
    width:100%;
    text-align: center;
    position: relative;
    top:-50px;
    left:35px;
}
/*End Style section content*/

/*Start Style Section trend games */
.trendgames{
    margin-top:100px;
}
.trendgames .gamesinfo ,.trendgames .allGames  {
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.trendgames .gamesinfo button{
    color:var(--secondcolor);
    padding:10px 20px;
    background: rgba(255, 255, 255, 0.11);
    border-radius: 10px;
}
.trendgames .allGames .card {
    width:150px;
    background-color: transparent;
    color:var(--secondcolor);
}
.trendgames .allGames .card p{
    font-size: 25px;
    text-align: center;
}
/*End Trendig games*/

/*Start Style Div information info */

/*End style div information info */

/*Start style section spider games */

.spidergame{
    margin-top:50px;
    background-image: linear-gradient(#000000, #4A2800);
    padding:180px 0;
}
.spidergame .image{
    text-align: center;
    margin:50px auto;
    padding:20px;
    position: relative;
}
.spidergame .image .img img{
    width:80%;
    z-index: 5;
    position: relative;
}
.spidergame .image .img::after{
    content: url(../images/Group\ 21.png);
    position: absolute;
    top: -10%;
    right:5%;
}
/* .spidergame .image .groub{
    position: absolute;
    top:1%;
    right:0;
} */

.spidergame .cont , .loop .cont{
    width:40%;
}
.spidergame .info h1{
    font-size: 25px;
}

/*End div Spider games*/

/*Start Style Games*/
.gameDev{
    text-align: center;
    padding:30px;
    background-image: url(../images/Rectangle\ 5.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.gameDev .infoGame{
    text-align: center;
    width:90%;
}
.gameDev .infoGame p{
    margin-top:40px;
}
.gameDev .DevContent{
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.gameDev .typedev{
    color:white;
    padding:10px;
    margin: 10px;
    text-align: center;
    line-height:300%;
}
.gameDev .typedev i{
    color:var(--maincolor);
    font-size:30px;
}
.gameDev .typedev .circle{
    margin: auto;
    width:70px;
    height:70px;
    border-radius: 50%;
    background-color: antiquewhite;
    color:var(--maincolor);
    display: flex;
    justify-content: center;
    align-items: center;
}

.pics{
    margin-top:50px;
    text-align: center;
}
.pics .magal{
    width:70%; 
    padding:20px;
}
.pics .magal img{
    width:90%;
}
.pics .containerr{
    width:95%;
    margin: 80px auto;
}

.pics button{
    background: rgba(255, 255, 255, 0.11);
    border-radius: 10px;
    width:113px;
    padding:10px;
    margin-top:50px;
}
/*End Style games*/
/*loop style */

.loop{
    background: linear-gradient(rgb(0, 0, 0), #110600);
    padding: 50px 0;
    margin-top:50px;
}
.loop .texloop{
    margin-top:80px;
}
.loop .texloop{
    background-color: #1C140F;
    padding:20px 30px;
    border-radius: 10px;
}
.loop .col-4 p:first-child{
    font-size: 25px;
    font-weight:bolder;
}
.loop .col-8{
    text-align: center;
    padding:10px;
    margin-top:50px;
}
.loop .col-8 input{
    position: relative;
    border: none;
    outline:none;
    width:70%;
    padding:15px 20px;
    border-radius: 10px;
}

/*loop style*/

/*Section footer*/
.footer{
    color:white;
    height:450px;
    overflow: hidden;
}

.footer span{
    color:white;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    margin-left:10px;
}

.footer ul{
    list-style: none;
    margin-left:-25px;
}
.footer ul li{
    margin:10px;
}
.footer ul li a{
    text-decoration: none;
    color:white;
    margin-left:10px;
}
.footer .quick ul li a{
    font-size:20px;
    margin-left:50px ;
}
.footer .quick ul li a{
    transition: 0.3s all ease;
}
.footer .quick ul li a:hover{
    margin-left:25px;
}
/*End of style footer*/
.footer .social{
    display:flex;
    justify-content: center;
    align-items: center;
}
.footer .social div{
    width:50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    color:black;
    margin:5px;
    transition:0.3s all ease-in-out
}
.footer .social i{
    font-size:25px;
    width:40px;
    height:40px;
    padding:10px;
    border-radius: 50%;
    margin:5px;
    cursor: pointer;
    display: flex;
    justify-content:center;
    align-items: center;
}
.footer .social div:hover{
    background-color:#FA9021;
    color:white;
}

/*style popup*/
/*End popup*/
@media (max-width:992px) {
    .edit{
        width:100%;
    }
    .nav .bars{
        display: block;
        font-size: 25px;
        cursor:pointer;
    }
    .nav .links ul{
        position:fixed;
        top:72px;
        right:0;
        flex-direction: column;
        width:220px;
        min-height:220px;
        padding: 20px;
        transform: translateX(100%);
        transition: 0.5s transform ease-in-out;
        z-index:10;
        box-shadow:0px 5px 15px rgba(0, 0, 0, 0.35);
    }
    /* .nav .links ul.active2{
        transform: translateX(0);
        background-color: rgba(255, 255, 255, 0.11);
        z-index: 1;
    } */
    .nav .links ul li{
        margin:0 20px;
        padding:10px;
        text-align:center;
        color:black;
    }
    .trendgames .gamesinfo ,.trendgames .allGames{
        flex-direction: column;
    }
    .spidergame .cont , .loop .cont{
        width:100%;
        flex-direction: column;
    }
    .spidergame .image img{
        width:90%; 
    }
    .DevContent{
        flex-direction: column;
    }
    .loop .texloop .col-8 input{
        width:182%;
    }
    .loop .texloop .col-8 button{
        right: -50%;
        padding:5px;
    }
    .info{
        width:80%;   
    }
    body{
        overflow-x:hidden;
    }
    .pics .magal img{
        margin: 10px;
    }
    .content .fath .edit img:first-child{
        top:42%;
        left:1%;
    }
    .content .infoGame{
        text-align: center;
        margin: auto;
    }
    .footer{
        text-align: center;
        color:white;
        height:730px;
        overflow: hidden;
    }
    .footer .links{
        margin-top:5px;
    }
    .gg{
        margin-left:0;
    }
}
.containeer{
    width:90%;
    margin:auto;
}
/* .bars{
    display: none;
} */
/* .fasl{
    width:100%;
    height:1px;
    background-color: white;
    margin-top:30px;
} */
/* .active2{
    border-bottom: 2px solid var(--maincolor);
    border-radius: 10px;
    padding:10px;
} */
/*General style*/


/*Style Section Nav*/
.nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.nav .links ul{
    list-style-type:none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav .links ul li{
    padding:10px;
}
.nav .links ul li a{
    color:white;
    text-decoration: none;
}
.nav .links ul li button{
    padding:5px 8px;
    background-color: var(--maincolor);
    color:var(--secondcolor);
    border-radius: 6px;
}
/*End Style nav*/

/*Start section services*/
.service{
    margin:80px auto;
    text-align: center;
}
.service .header p span{
    color:var(--maincolor);
}
.service .props{
    background-color: var(--colorfour);
    padding:40px 30px;
    border-radius: 10px;
    width:1140px;
    margin:50px auto;
}
.service .props .client{
    width:23%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.service .props .client .person{
    width:40px;
    height:40px;
    border-radius: 50%;
    background-color: white;
    color:var(--maincolor);
    margin-right: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.service .props .client .line p{
    margin-bottom:-2px;
}
/*End of section services*/

/*Start section video*/
.vid .video{
    background-repeat: no-repeat;
    background-size: contain;
}
.vid .header-image{
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}
.vid .play{
    width:50px;
    height:50px;
    border-radius: 50%;
    border:4px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.vid .play i{
    font-size:25px;
}
.vid .infovid{
left: 10%;
}
.vid .infovid ul{
    list-style-type: none;
}
.vid .infovid ul li{
    margin:10px;
}

.vid .infovid ul li i{
    width:25px;
    height:25px;
    border-radius: 50%;
    background-color:var(--colorsix);
    text-align: center;
    padding:5px 0;
    margin-right:8px;
    color: #000000;
    font-weight:800;
}
.vidsec{
    margin-top:80px;
    position: relative;
}

.vidsec .header-image{
    background-image: url(images/Rectangle\ 6.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 34px;
    border: 3px solid transparent;
}
.videosec h1 , .videosec p{
    margin-bottom:35px;
}
.videosec button{
    background-color: var(--maincolor);
    outline:none;
    border: none;
    padding:10px 20px;
    color:white;
}
/*Start section video*/

/*Style section causrsol*/
.caursol{
    background-color:var(--colorfour);
    margin:150px auto;
    padding:80px;
}

.caursol .contentcaursol{
    margin: auto;
    width:60%;
    text-align: center;
}
.caursol .opinone .contentone img{
    display: inline-block;
    width:60px;
    height:60px;
    border-radius: 50%;
}
.caursol .opinone{
    border-radius: 10px;
    padding:15px;
    border:1px solid var(--maincolor);
    background-color: var(--colorsecen);
    margin: 10px;
}
.caursol .opinone .contentone p{
    display: inline-block;
    margin-left:5px;
}
.caursol .opinone .columnone{
    display:flex;
    justify-content:space-between;
    align-items: center;
}
.caursol .opinone .columnone .rate{
    color: var(--maincolor);
}

.opinone .info p{
    margin-top: 8px;
    margin-left:15px;
}
/*end of dstyle section caursol*/
/*loop style */

.loop{
    background: linear-gradient(rgb(0, 0, 0), #110600);
    padding: 50px 0;
    margin-top:50px;
}
.loop .texloop{
    margin-top:80px;
    background-color: #1B1B1B;
    padding:20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.loop .col-4 p:first-child{
    font-size: 25px;
    font-weight:bolder;
}
.loop .col-8{
    text-align: center;
    padding:10px;
    margin-top:50px;
}
.loop .col-8 input{
    position: relative;
    border: none;
    outline:none;
    width:70%;

    border-radius: 10px;
}

/*loop style*/

/*Section footer*/
.footer{
    color:white;
}

.footer span{
    color:white;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    margin-left:10px;
}

.footer ul{
    list-style: none;
    margin-left:-25px;
}
.footer ul li{
    margin:10px;
}
.footer ul li a{
    text-decoration: none;
    color:white;
    margin-left:10px;
}
.footer .quick ul li a{
    font-size:20px;
    margin-left:50px ;
}
.footer .quick ul li a{
    transition: 0.3s all ease;
}
.footer .quick ul li a:hover{
    margin-left:25px;
}
/*End of style footer*/
.footer .social{
    display:flex;
    justify-content: center;
    align-items: center;
}
.footer .social div{
    width:50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    color:black;
    margin:5px;
    transition:0.3s all ease-in-out
}
.footer .social i{
    font-size:25px;
    width:40px;
    height:40px;
    padding:10px;
    border-radius: 50%;
    margin:5px;
    cursor: pointer;
    display: flex;
    justify-content:center;
    align-items: center;
}
.footer .social div:hover{
    background-color:#FA9021;
    color:white;
}
.lastP{
    padding-top:10px;
}

@media (max-width:992px) {
    /* .nav .bars{
        display: block;
        font-size: 25px;
        cursor:pointer;
    } */
    .nav .links ul{
        position:fixed;
        top:72px;
        right:0;
        flex-direction: column;
        width:220px;
        min-height:220px;
        padding: 20px;
        transform: translateX(100%);
        transition: 0.5s transform ease-in-out;
        z-index:10;
        box-shadow:0px 5px 15px rgba(0, 0, 0, 0.35);
    }
    /* .nav .links ul.active2{
        transform: translateX(0);
        background-color:var(--colorfour);
        z-index: 1;
    } */
    .nav .links ul li{
        margin:0 20px;
        padding:10px;
        text-align:center;
        color:black;
    }
    .service .props{
        flex-direction: column;
        width: 90%;
        text-align: center;
    }
    .service .props .client{
        margin:15px;
        width:250px;
    }
    .loop .texloop .col-8 input{
        width:182%;
    }
    .loop .texloop .col-8 button{
        right:-50%;
        padding:5px;
        top:20%;
    }
    .caursol .contentcaursol{
        display: inline;
        width:100%;
    }
    .infovid{
        right:50%;
    }
    .videosec p{
        width:80%;
        
    }
    .vid .header-image{
        width:100%;
        padding:120px 0;
    }
    .vid .header-image img{
        width:100%;
        background-size: cover;
        height: auto;
    }
    .caursol{
        width:100%;
    }
    .caursol .opinone{
        width:150px;
        margin: 10px;
    }
    .caursol .opinone p{
        font-size: 8px;
    }
    .footer{
        text-align: center;
        color:white;
        height:680px;
        overflow: hidden;
    }
    .footer .links{
        margin-top:5px;
    }
    body{
        overflow-x: hidden;
    }
}
/* .hr{
    width:80%;
    height: 2px;
    margin-top:30px;
    background-color:white;
} */
/* .fasl{
    width:100%;
    height:1px;
    background-color: white;
    margin-top:50px;
} */
body{
    background-color: black;
    color:white;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}
/* .fasl{
    width:100%;
    height:1px;
    background-color: white;
    margin-top:30px;
} */
/* .active2{
    background-color: var(--maincolor);
    border-radius: 10px;
    padding:10px;
} */
/* .bars{
    display: none;
} */

.containeer{
    width:90%;
    margin:auto;
}
:root{
    --maincolor:#FA9021;
    --secondcolor:white;
    --colorone:#B000DC;
    --colortwo:#DC4200;
    --colorthree:#00DC8D;
    --colorfour:#1C140F;
    --colorfive:#E5E5E5;
    --coloreight:#2351F5;
}

/*Style Section Nav*/
.nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.nav .links ul{
    list-style-type:none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav .links ul li{
    padding:10px;
}
.nav .links ul li a{
    color:white;
    text-decoration: none;
}
.nav .links ul li button{
    padding:5px 8px;
    background-color: var(--maincolor);
    color:var(--secondcolor);
    border-radius: 6px;
}
/*End Style nav*/


/*Start section services*/
.service{
    margin:80px auto;
    text-align: center;
}
.service .props{
    background-color: var(--colorfour);
    padding:40px 30px;
    border-radius: 10px;
    width:1140px;
    margin:50px auto;
}
.service .props .client{
    width:23%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.service .props .client .person{
    width:35px;
    height:35px;
    border-radius: 50%;
    background-color: white;
    color:var(--maincolor);
    margin-right: -50px;
}
.service .props .client .line p{
    margin-bottom:-2px;
}
.service .form{
    position: relative;
    padding:10px;
    background-color: transparent;
    margin:50px auto;
}
.service .form input{
    width:5%;
    background-color: var(--colorfour);
    outline:none;
    border: none;
    padding:5px 40px;
    color:white;
    border-radius:1px;
    -webkit-border-radius:1px;
    -moz-border-radius:1px;
    -ms-border-radius:1px;
    -o-border-radius:1px;
    -webkit-border-radius:20px;
}

/*End of section services*/

/*Start style section newgames*/
.newgames{
    margin-top:80px;
}
.newgames .fake .fake1{
    width:70%;
}
/* .responsive{
    width:70%;
    height: auto;
} */
.newgames .fake .fake1{
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height:295px;
    border-radius: 10px;
}
.newgames .fake button , .newgames .comments .commentone button{
    padding: 10px 20px;
    outline:none;
    border:none;
    background-color: var(--coloreight);
    color:white;
    margin-top:10px;
    border-radius: 10px;
}
.newgames .fake span{
    margin-left: 15px;
}
.newgames .fake .information{
    width:80%;
    margin-top:20px;
}
.newgames .fake .information p{
    margin-top: 15px;
}
.newgames .editfaker{
    margin-top:40px;
}
.newgames .comments{
    position: relative;
}
.newgames .commentone{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin:14px;
}

.newgames .commentone .one{
    background-repeat: no-repeat;
    background-size: contain;
    width:320px;
    height:150px;
    border-radius: 10px;
    margin: 14px;
}
.newgames .commentone .commentinfo{
    width:110%;
    padding:10px;
}
/*end style section new games */

/*loop style */

.loop{
    background: linear-gradient(rgb(0, 0, 0), #110600);
    padding: 50px 0;
    margin-top:50px;
}
.loop .texloop{
    background-color: #1C140F;
    padding:20px;
    border-radius: 10px;
    margin-top:80px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.loop .col-4 p:first-child{
    font-size: 25px;
    font-weight:bolder;
}
.loop .col-8{
    text-align: center;
    padding:10px;
    margin-top:50px;
}
.loop .col-8 input{
    position: relative;
    border: none;
    outline:none;
    width:70%;

    border-radius: 10px;
}

/*loop style*/

/*Section footer*/
.footer{
    color:white;
}

.footer span{
    color:white;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    margin-left:10px;
}

.footer ul{
    list-style: none;
    margin-left:-25px;
}
.footer ul li{
    margin:10px;
}
.footer ul li a{
    text-decoration: none;
    color:white;
    margin-left:10px;
}
.footer .quick ul li a{
    font-size:20px;
    margin-left:50px ;
}
.footer .quick ul li a{
    transition: 0.3s all ease;
}
.footer .quick ul li a:hover{
    margin-left:25px;
}
/*End of style footer*/
.footer .social{
    display:flex;
    justify-content: center;
    align-items: center;
}
.footer .social div{
    width:50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    color:black;
    margin:5px;
    transition:0.3s all ease-in-out
}
.footer .social i{
    font-size:25px;
    width:40px;
    height:40px;
    padding:10px;
    border-radius: 50%;
    margin:5px;
    cursor: pointer;
    display: flex;
    justify-content:center;
    align-items: center;
}
.footer .social div:hover{
    background-color:#FA9021;
    color:white;
}
.lastP{
    padding-top:10px;
}

@media (max-width:992px) {
    /* .nav .bars{
        display: block;
        font-size: 25px;
        cursor:pointer;
    } */
    .nav .links ul{
        position:fixed;
        top:72px;
        right:0;
        flex-direction: column;
        width:220px;
        min-height:220px;
        padding: 20px;
        transform: translateX(100%);
        transition: 0.5s transform ease-in-out;
        z-index:10;
        box-shadow:0px 5px 15px rgba(0, 0, 0, 0.35);
    }
    /* .nav .links ul.active2{
        transform: translateX(0);
        background-color:var(--colorfour);
        z-index: 1;
    } */
    .nav .links ul li{
        margin:0 20px;
        padding:10px;
        text-align:center;
        color:black;
    }

    .service .form i{
        left:12%;
    }
    .loop .texloop .col-8 input{
        width:182%;
    }
    .loop .texloop .col-8 button{
        right:-50%;
        top:20%;
        padding:5px;
    }
    .newgames .fake .fake1{
        background-repeat: no-repeat;
        background-size: cover;
        width:100%;
        height:295px;
        border-radius: 10px;
    }
    .newgames .commentone .commentinfo{
        width:100%;
        font-size: 12px;
        padding:10px;
    }
    .footer{
        text-align: center;
        color:white;
        height:710px;
        overflow: hidden;
    }
    .footer .links{
        margin-top:5px;
    }
    body{
        overflow-x: hidden;
    }
}

/*General style */
a{
    text-decoration: none;
}
.hr{
    width:2px;
    height:80px;
    background-color: white;
}

body{
    background-color: black;
    color:white;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}
/* .bars{
    display: none;
} */
/* .active2{
    background-color: var(--maincolor);
    border-radius: 10px;
    padding:10px;
} */

.containeer{
    width:90%;
    margin:auto;
}
:root{
    --maincolor:#FA9021;
    --secondcolor:white;
    --colorone:#B000DC;
    --colortwo:#DC4200;
    --colorthree:#00DC8D;
    --colorfour:#1C140F;
    --colorfive:#E5E5E5;
    --coloreight:#2351F5;
    --colorgray : #CECECE;
}


/*Style Section Nav*/
.nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.nav .links ul{
    list-style-type:none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav .links ul li{
    padding:10px;
}
.nav .links ul li a{
    color:white;
    text-decoration: none;
}
.nav .links ul li button{
    padding:5px 8px;
    background-color: var(--maincolor);
    color:var(--secondcolor);
    border-radius: 6px;
}
/*End Style nav*/
.lastP{
    padding-top:10px;
}
/* .fasl{
    width:100%;
    height:1px;
    background-color: white;
    margin-top:30px;
} */
/*Start section services*/
.service{
    margin:80px auto;
    text-align: center;
}
.service .props{
    background-color: var(--colorfour);
    padding:40px 30px;
    border-radius: 10px;
    width:1140px;
    margin:50px auto;
}
.service .props .client{
    width:23%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.service .props .client .person{
    width:35px;
    height:35px;
    border-radius: 50%;
    background-color: white;
    color:var(--maincolor);
    margin-right: -50px;
}
.service .props .client .line p{
    margin-bottom:-2px;
}

/* .service .form{ */
    /* position: relative;
    padding:10px;
    width:50%;
    margin:50px auto; 
}
/* .service .form input{    
    width:100px;
    background-color: var(--colorfour);
    outline:none;
    border: none;
    padding:5px 40px;
    color:white;
    border-radius: 10px;
} */
.service .form i{
    position: absolute;
    z-index: 5;
    color:white;
    left:25%;
    top:39%;
}
.service .map{
    width:50%;
    margin:auto;
}
.service .map img{
    width:100%;
}
/*End of section services*/
.service .form input{
    width:30%;
}
/*Start style section form*/
.form{
    margin:auto;
    padding:80px 0;
    background-color:var(--colorfour);
    position: relative;
}
.form .vector1 , .form .vector2{
    position: absolute;
}
.form .vector1 {
    top:1%;
    right:0;
    z-index: 0;
}
.form .vector2{
    top:70%;
    left:0;
    z-index:1;
    color: transparent;
}
.form .infoForm{
    text-align: center;
}
.form form {
    width:70%;
    box-sizing: border-box;
    z-index:999;
}
.form form input{
    background-color:rgba(255, 255, 255, 0.07);
    border: var(--colorgray);
    border: 1px solid;
}
textarea{
    width:100%;
    height:300px;
    background-color: var(--colorfour);
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
    outline: none;
}
/*end of style section form*/
.loop{
    background-image: linear-gradient(#000000, #4A2800);
}
.loop .texloop{
    margin-top:80px;
}
.loop .col-4 p:first-child{
    font-size: 25px;
    font-weight:bolder;
}
.loop .col-8{
    text-align: center;
    padding:10px;
    margin-top:50px;
}
.loop .col-8 input{
    position: relative;
    border: none;
    outline:none;
    width:70%;

    border-radius: 10px;
}

/*loop style*/


/*Section footer*/
.footer{
    color:white;
    height:420px;
    overflow: hidden;
}

.footer span{
    color:white;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    margin-left:10px;
}

.footer ul{
    list-style: none;
    margin-left:-25px;
}
.footer ul li{
    margin:10px;
}
.footer ul li a{
    text-decoration: none;
    color:white;
    margin-left:10px;
}
.footer .quick ul li a{
    font-size:20px;
    margin-left:50px ;
}
.footer .quick ul li a{
    transition: 0.3s all ease;
}
.footer .quick ul li a:hover{
    margin-left:25px;
}
/*End of style footer*/
.footer .social{
    display:flex;
    justify-content: center;
    align-items: center;
}
.footer .social div{
    width:50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    color:black;
    margin:5px;
    transition:0.3s all ease-in-out
}
.footer .social i{
    font-size:25px;
    width:40px;
    height:40px;
    padding:10px;
    border-radius: 50%;
    margin:5px;
    cursor: pointer;
    display: flex;
    justify-content:center;
    align-items: center;
}
.footer .social div:hover{
    background-color:#FA9021;
    color:white;
}

@media (max-width:992px) {
    body{
        overflow-x: hidden;
    }
    /* .nav .bars{
        display: block;
        font-size: 25px;
        cursor:pointer;
    } */
    .nav .links ul{
        position:fixed;
        top:72px;
        right:0;
        flex-direction: column;
        width:220px;
        min-height:220px;
        padding: 20px;
        transform: translateX(100%);
        transition: 0.5s transform ease-in-out;
        z-index:10;
        box-shadow:0px 5px 15px rgba(0, 0, 0, 0.35);
    }
    /* .nav .links ul.active2{
        transform: translateX(0);
        background-color: rgba(255, 255, 255, 0.11);
        z-index: 1;
    } */
    .nav .links ul li{
        margin:0 20px;
        padding:10px;
        text-align:center;
        color:black;
    }
    .loop .texloop .col-8 input{
        width:182%;
    }
    .loop .texloop .col-8 button{
        right:-50%;
        top:20%;
    }
    .service .contactinfo{
        flex-direction: column;
    }
    .service .contactinfo div{
        margin-top: 30px;
    }
    .hr{
        display: none;
    }
    .loop .texloop .col-8 input{
        width:182%;
    }
    .loop .texloop .col-8 button{
        right:5%;
        padding:5px;
    }
    .form form{
        width:90%;
    }
    .form .form-control{
        width:100%;
    }
    .footer{
        text-align: center;
        color:white;
        height:730px;
        overflow: hidden;
    }
    .footer .links{
        margin-top:5px;
    }
    .form .vector2 , .form .vector1{
        display: none;
    }
    body{
        overflow-x: hidden;
    }
}
/*General style */
*{
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
}
h1 , h2 , h3{
    font-family: 'Poppins', sans-serif;
    line-height: 70px;
}
/* .fasl{
    width:100%;
    height:1px;
    background-color: white;
    margin-top:30px;
} */
/* .active2{
    background-color: var(--maincolor);
    border-radius: 10px;
    padding:10px;
} */

body{
    background-color: black;
    color:white;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

/* .bars{
    display: none;
} */

/*media query */

/*media query*/

.containeer{
    width:90%;
    margin:auto;
}
:root{
    --maincolor:#FA9021;
    --secondcolor:white;
    --colorone:#B000DC;
    --colortwo:#DC4200;
    --colorthree:#00DC8D;
    --colorfour:#1C140F;
    --colorfive:#E5E5E5;
}

/*Style Section Nav*/
.nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.nav .links ul{
    list-style-type:none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav .links ul li{
    padding:10px;
}
.nav .links ul li a{
    color:white;
    text-decoration:none;
}
.nav .links ul li:last-child a{
    padding:5px 8px;
    background-color: var(--maincolor);
    color:var(--secondcolor);
    border-radius: 6px;
    transition: 0.3s all ease;
}
.nav .links ul li:last-child a:hover{
    background-color:transparent;
    border: 1px solid var(--maincolor);
}
/*End Style nav*/



/*info game*/
.content .infoGame{
    align-items: center;
    padding-right: 20px;
}
.content .infoGame button{
    width:150px;
    padding:10px;
    border-radius: 25px;
    background-color: var(--maincolor);
    outline:none;
    border:none;
    color:var(--secondcolor);
    /*background-image: linear-gradient(to right, var(--maincolor) , var(--secondcolor));
    */transition:.0.3s all ease;
}
.content .infoGame p span{
    color:var(--maincolor)
}
.content .infoGame h3{
    line-height: 50px;
}
.content .infoGame p{
    margin:30px 0;
    line-height: 30px;
}
.content .infoGame button:hover{
    background-color: transparent;
    border:1px solid var(--maincolor);
}
.header-image{
    padding:50px 20px;
    position:relative;
    width:100%;
    background-repeat: no-repeat;
    background-size: contain;
}
.header-image .counter{
    position:absolute;
    left:0%;
    top:90.5%;
    padding:5px 0;
}


/*Start section work*/
.work{
    margin-top:250px;
}
.workAll{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.work .workone , .work .worktwo , .work .workthree{
    background-color:var(--colorfour);
    border-radius:20px;
    padding:30px 20px;
    margin-top:20px;
    box-shadow: 0px 4px 94px rgba(0, 0, 0, 0.15);
}
.work .workone div , .work .worktwo div , .work .workthree div{
    width:50%;
    text-align:center;
    border-radius:5px;
    margin-bottom:15px;
    margin-top:15px;
    padding: 10px 0;
} 
.work .workone h3,.work .worktwo h3 , .work .workthree h3{
    line-height: 80px;
}
.work .workone div{
    background-color:var(--colorone);
}
.work .worktwo div{
    background-color:var(--colortwo)
}
.work .workthree div{
    background-color:var(--colorthree)
}
/*End style section work*/

/*Start style section gameinfo*/
.gameinfo{
    background-color: var(--colorfour);
    margin-top:80px;
    padding:50px;
}
.gameinfo .show{
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.gameinfo .image .responsive {
    width: 100%;
    height: auto;
}
/*End style section gameinfo*/


/*Start style section team*/
.team{
    background-image: linear-gradient(#090909, #180e00);
    padding:150px 0 ;
}
.team h3{
    padding: 30px;
}
.team .flipcards{
    display: flex;
    justify-content:space-around;
    align-items: center;;
}
.flip-card {
    background-color: transparent;
    width: 270px;
    height: 270px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8);
}
.flip-card-front img , .flip-card-back div{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color:var(--colorfour);
    color: white;
}

.flip-card-back {
    background-color:var(--colorfour);
    color: white;
    transform: rotateY(180deg);
}
.flip-card-back p {
    font-size: 25px;
}
/*End style section team*/

/*Start style loop*/
.loop{
    background: linear-gradient(#180e00, #110600);
    padding: 50px 0;
}
.loop .texloop{
    margin-top:80px;
}
.loop .texloop{
    background-color: #1C140F;
    padding:20px 30px;
    border-radius: 10px;
}
.loop .col-4 p:first-child{
    font-size: 25px;
    font-weight:bolder;
}
.loop .col-8{
    text-align: center;
    padding:10px;
    margin-top:50px;
}
.loop .col-8 input{
    position: relative;
    border: none;
    outline:none;
    width:70%;
    border-radius: 10px;
}

/*loop style*/
/*Section footer*/
.footer{
    color:white;
    height:450px;
    overflow: hidden;
}

.footer span{
    color:white;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    margin-left:10px;
}

.footer ul{
    list-style: none;
    margin-left:-25px;
}
.footer ul li{
    margin:10px;
}
.footer ul li a{
    text-decoration: none;
    color:white;
    margin-left:10px;
}
.footer .quick ul li a{
    font-size:20px;
    margin-left:50px ;
}
.footer .quick ul li a{
    transition: 0.3s all ease;
}
.footer .quick ul li a:hover{
    margin-left:25px;
}
/*End of style footer*/
.footer .social{
    display:flex;
    justify-content: center;
    align-items: center;
}
.footer .social div{
    width:50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    color:black;
    margin:5px;
    transition:0.3s all ease-in-out
}
.footer .social i{
    font-size:25px;
    width:40px;
    height:40px;
    padding:10px;
    border-radius: 50%;
    margin:5px;
    cursor: pointer;
    display: flex;
    justify-content:center;
    align-items: center;
}
.footer .social div:hover{
    background-color:#FA9021;
    color:white;
}
.lastP{
    padding-top:30px;
}

@media (max-width:992px) {
    /* .nav .bars{
        display: block;
        font-size: 25px;
        cursor:pointer;
    } */
    .service .form input{
        width:50%;
    }
    .nav .links ul{
        position:fixed;
        top:72px;
        right:0;
        flex-direction: column;
        width:220px;
        min-height:220px;
        padding: 20px;
        transform: translateX(100%);
        transition: 0.5s transform ease-in-out;
        z-index:10;
        box-shadow:0px 5px 15px rgba(0, 0, 0, 0.35);
    }
    /* .nav .links ul.active2{
        transform: translateX(0);
        background-color:var(--colorfour);
        z-index: 1;
    } */
    .nav .links ul li{
        margin:0 20px;
        padding:10px;
        text-align:center;
        color:black;
    }
    .workAll{
        flex-direction: column;
    }
    .workAll .workone , .workAll .worktwo , .workAll .workthree{
        width:350px;
        text-align:center;
    }
    .flipcards{
        flex-direction: column;
    }
    .flipcards .flip-card{
        margin:10px;
    }
    .loop .texloop .col-8 input{
        width:182%;
    }
    .loop .texloop .col-8 button{
        right: -50%;
        padding:5px;
        top:20%;
    }
    .header-image{
        /* background-color: red;
        position:relative;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover; */
        height: 60vh;
        border: 5px solid transparent;
    }
    .header-image .counter{
        position:absolute;
        left:0%;
        top:92.5%;
        padding:2px 0;
        width:550px
    }
    .footer{
        text-align: center;
        color:white;
        height:750px;
        overflow: hidden;
    }
    .footer .links{
        margin-top:5px;
    }
    .content .infoGame{
        text-align: center;
        align-items: center;
        margin: auto;
        padding-right: 20px;
    }
}